<h2>
	插码列表 <a class="btn btn-primary pull-right" href="#/code/new"><i
		class="icon-plus-sign icon-white"></i> 新增插码</a>
</h2>

<table class="table  table-bordered table-hover">
	<tr class="success">
		<td>
			<strong>插码标题</strong>
		</td>
		<td>
			<strong>提出人</strong>
		</td>
		<td>
			<strong>计划完成时间</strong>
		</td>
		<td>
			<strong>缩略图</strong>
		</td>
		<td>
			<strong>操作</strong>
		</td>
	</tr>
	<tr ng-repeat="code in codes">
		<td><a href="#/code/{{code._id.$oid}}">{{code.title}}</a></td>
		<td>{{code.committer}}</td>
		<td>{{code.onlineDate}}</td>
		<td>
 			 <div ng-repeat="f in code.files">
    			<a data-ng-href="/static/uploads/{{f.result.filename}}" title="{{f.result.filename}}" download="{{f.result.filename}}" data-gallery class="ng-binding ng-scope" href="/static/uploads/{{f.result.filename}}">
      			<img class="thumb" ng-src="/static/uploads/{{f.result.filename}}" alt="{{f.result.filename}}">
    			</a>
  			</div>
		</td>
		<td>
			<a href="#/code/{{code._id.$oid}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" ></span>编辑</button></a>
			<button type="button" class="btn btn-primary" ng-click="deleteItemWithConfirmation(code)"><span class="glyphicon glyphicon-trash"></span>删除</button>
		</td>
	</tr>
	<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
</table>

