<h2>
	需求列表 <a class="btn btn-primary pull-right" href="#/requires/new"><i
		class="icon-plus-sign icon-white"></i> 新增需求</a>
</h2>

<table class="table  table-bordered table-hover">
	<tr class="success">
		<td>
			<strong>需求标题</strong>
		</td>
		<td>
			<strong>提出人</strong>
		</td>
		<td>
			<strong>计划完成时间</strong>
		</td>
		<td>
			<strong>操作</strong>
		</td>
	</tr>
	<tr ng-repeat="require in requires">
		<td><a href="#/requires/{{require._id.$oid}}">{{require.code}}</a></td>
		<td>{{require.committer}}</td>
		<td>{{require.onlineDate}}</td>
		<td>
			<a href="#/requires/{{require._id.$oid}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" ></span>编辑</button></a>
			<button type="button" class="btn btn-primary" ng-click="deleteItemWithConfirmation(require)"><span class="glyphicon glyphicon-trash"></span>删除</button>
		</td>
	</tr>
</table>

