<!DOCTYPE html>
<html ng-app="getrequires">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/toastr.css"/>
    <link rel="stylesheet" href="/static/css/jquery-ui.css"/>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="/static/css/jquery.fileupload.css">
    <link rel="stylesheet" href="/static/css/fileUpload.css">
    <link rel="stylesheet" href="/static/css/blueimp-gallery.min.css">
    <link rel=”icon” href=”/static/img/favicon.ico” type=”image/x-icon”>
    <link rel=”shortcut icon” href=”/static/img/favicon.ico” type=”image/x-icon”>

    <style>
        body {
            padding-top: 60px;
        }
    </style>
    <title>需求模板 : 需求模板管理</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a class="nav nav-pills" href="#/">需求模板</a></li>
            <li><a class="nav nav-pills" href="#/code/list">新增插码</a></li>
        </ul>
        </div>
        </div>
    </div>

</div>

<div class="container" ng-view>

</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/angular.1.4.js"></script>
<script src="/static/js/angular-route.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/ui-bootstrap.min.js"></script>
<script src="/static/js/angular-resource.js"></script>
<script src="/static/js/toastr.js"></script>
<script src="/static/js/date.js"></script>
<script src="/static/js/jquery.ui.widget.js"></script> 
<script src="/static/js/blueimp-gallery.min.js"></script>
<script src="/static/js/ng-file-upload-shim.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>
